* {
  font-family: monospace;
  background-color: #ACD0DD; 
}


.header {
  font-family: cursive;
  color: #390C28;
  background-image: url("http://www.creativehdwallpapers.com/uploads/large/background/background-presentation-school-wallpapers.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 240px;
  font-size: 150px;
  margin: auto 0 auto 0; }

.secondHeader {
  color: #334855;
  font-size: 26px;
  text-align: center;
  background-color: #A2BBC2;
  margin: auto 0 auto 0;
  padding-top: 20px; }

.instructions {
  color: #334855;
  font-size: 18px;
  text-align: center;
  background-color: #A2BBC2;
  margin: auto 0 auto 0;
  padding: 20px 0 20px 0; }
