* {
  font-family: 'Roboto Mono', monospace; }

.header {
  font-family: serif;
  color: #d9d9d9;
  padding-top: 105px;
  text-align: center;
  background-image: url("https://i.imgur.com/ADli4De.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 300px;
  font-size: 150px;
  margin: auto 0 auto 0; }

.secondHeader {
  color: #d9d9d9;
  font-size: 26px;
  text-align: center;
  background-color: rgba(56, 78, 88, 0.96);
  margin: auto 0 auto 0;
  padding-top: 20px; }

.instructions {
  color: #d9d9d9;
  font-size: 18px;
  text-align: center;
  background-color: rgba(56, 78, 88, 0.96);
  margin: auto 0 auto 0;
  padding: 20px 0 20px 0; }
