ul {
  list-style: none; }

.card {
  color: #334855;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #555555;
  border-radius: 5%;
  box-shadow: 4px 4px 2px #555555;
  width: 12%;
  margin: 20px 20px 20px 20px;
  background-color: #ACD0DD; }

.card:hover {
  cursor: pointer; }

.hover:hover {
  background-color: #A2BBC2;
  cursor: pointer; }
  .hover:hover .hover {
    background-color: #A2BBC2; }

.card-title {
  font-size: 16px;
  font-weight: bold; }

.aboveHalf {
  font-weight: bold; }

.belowHalf {
  font-weight: lighter;
  color: #572F18; }

.clear-button {
  width: 300px;
  height: 70px;
  border-radius: 25px;
  background-color: black;
  border: none;
  color: white;
  font-size: 24px;
  font-weight: bold; }
