@import '../css/variables.scss';

ul {
  list-style: none;
}

.card {
  color: #334855;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid #555555;
  border-radius: 5%;
  box-shadow: 4px 4px 2px #555555;
  width: 12%;
  margin: 20px 20px 20px 20px;
  background-color: #ACD0DD;
}

.hover:hover {
  .hover{background-color: $card-hover-color;}
  background-color: $card-hover-color;
}


.card-title {
  font-size: 16px;
  font-weight: bold;
}


.aboveHalf {
  font-weight: bold;
}

.belowHalf {
  font-weight: lighter;
  color: #7D215D;
}

.clear-button {
  width: 200px;
  height: 50px;
  box-shadow: 4px 4px 2px #555555;
  border-radius: 25px;
  background-color: #62BC27;
  font-size: 16px;
  font-weight: bold;
}

.compare-and-button {

}
