.card {
  color: #334855;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 2px solid #555555;
  border-radius: 5%;
  box-shadow: 4px 4px 2px #555555;
  width: 18%;
  margin: 5px 5px 5px 5px;
  background-color: #ACD0DD; }

.card:hover {
  background-color: #A2BBC2; }

.card-title {
  font-size: 16px;
  font-weight: bold; }

.aboveHalf {
  font-weight: bold; }

.belowHalf {
  font-weight: lighter;
  color: #7D215D; }
