.searchContainer {
  display: flex;
  justify-content: center;
  background-color: rgba(56, 78, 88, 0.96);
}

.search {
  height: 25px;
  width: 25%;
  background-color: #BABEA8;
  margin-bottom: 40px;
}
